<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application android:name=".SolarApplication" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="false" android:icon="@drawable/ic_solar" android:label="@string/app_name"
        android:theme="@style/AppTheme" android:supportsRtl="true">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="${mapsApiKey}" />
        <activity android:name=".ui.StationMapActivity" android:exported="false" />
        <activity android:name=".ui.MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CreateBookingActivity"
            android:exported="false"
            android:label="@string/create_booking" />
        <activity
            android:name=".ui.BookingHistoryActivity"
            android:exported="false"
            android:label="@string/my_bookings" />
        <activity
            android:name=".ui.PendingBookingsActivity"
            android:exported="false"
            android:label="@string/pending_bookings" />
        <activity
            android:name=".ui.ModifyBookingActivity"
            android:exported="false"
            android:label="@string/modify_booking" />
        <activity
            android:name=".ui.CancelBookingActivity"
            android:exported="false"
            android:label="@string/cancel_booking" />
        <activity
            android:name=".ui.SearchBookingActivity"
            android:exported="false"
            android:label="@string/search_booking" />
        <activity
            android:name=".ui.BookingSummaryActivity"
            android:exported="false"
            android:label="@string/booking_summary_title" />
    </application>
</manifest>